.summaryTable {
    width: 100%;
}

.groupRow {
    padding: var(--dxbl-grid-text-cell-padding-y) var(--dxbl-grid-text-cell-padding-x);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td[class*=summaryCell] {
    padding: var(--dxbl-grid-text-cell-padding-y) var(--dxbl-grid-text-cell-padding-x);
    text-align: right;
}
